body{
	font-family: font-family: ‘Lucida Console’, Monaco, monospace;
}
form{
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -o-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	width: 85%;
	border: .1em solid;
	padding:0.5em;
	margin: 1em;
}
label{
	text-transform: capitalize;
	display: inline;
	width:4em;
	text-align: right;
	margin-right: 0.5em;
	font-weight: 700;
	font-size: 1.25em;

}
input
{
	display: block;
	font-size: 1em;
	width:75%;
}

ol, ul { 
	list-style: none; 
}

#items span{
	margin:0.5em;
	text-align: left;
	font-size:1.25em;
}
.item{
	border: 0.05em solid;
}


.left-margin{
	float:left;
	width:40%;
}
.right-margin{
	float:right;
	width:60%;
}
.right-margin div{
	text-align: center;
}
.main{
	border: .15em solid;
}
.right-margin a{
	margin: auto;
}
.right-margin ul{
	text-align: left;
}

/*link styles*/
a.cancel_edit, li.button a{
	text-decoration: none;
}

a.cancel_edit{
    float:right;
    margin-top:-144px;
    margin-right:-4px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px; 
    
}

.cancel_edit:before {
    content: "×";
}
button a, button[type="submit"]{
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
}
button[type="submit"]{
	margin-top: .3em;
	border: solid .1em #5C5C5C;	
}
.button a{
    border: solid .1em #20538D;	
    padding: .3em .3em;
    background: #4479BA;
    color: #FFF;
}
.button a:hover, button[type="submit"]:hover {
    background: #356094;
    border: solid .1em #2A4E77;
}
.button a:active {
    background: #5C5C5C;
    border: solid .1em #203E5F;
}